<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success mb-4">
        <div class="container-fluid">
            <span class="navbar-brand">GreenFrog Backend</span>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 py-2 py-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white text-decoration-none nav-link navbar-brand" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white text-decoration-none nav-link navbar-brand" th:href="@{/frogs}">Rane</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white text-decoration-none nav-link navbar-brand" th:href="@{/habitats}">Habitats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white text-decoration-none nav-link navbar-brand" th:href="@{/conservationStatuses}">Stati di Conservazione</a>
                    </li>
        </ul>

        <div class="ms-auto mx-4">
            <div sec:authorize="isAuthenticated()" class="d-flex flex-column flex-lg-row align-items-lg-center gap-3 text-white">
                <div>
                    <small class="d-block">Utente:</small>
                    <strong th:text="${#authentication.name}"></strong>
                </div>
                <div>
                    <small class="d-block">Ruolo:</small>
                    <strong th:each="role : ${#authentication.authorities}" th:text="${role.authority}"></strong>
                </div>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-light btn-sm">Logout</button>
                </form>
            </div>

            <div sec:authorize="isAnonymous()" class="text-white">
                <a th:href="@{/login}" class="btn btn-light btn-sm">Login</a>
            </div>
        </div>

    </nav>
</th:block>