<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>GreenFrog - Backend Rane</title>
    <th:block th:replace="fragments/layout :: styles" />
</head>

<body>
    <!-- Navbar -->
    <th:block th:replace="fragments/navbar :: navbar" />

    <!-- tabella rane -->
    <div class="row justify-content-center mb-5">
        <div class="col-md-8">
            <div class="card border-success">
                <div class="card-header bg-success text-white text-center">
                    Elenco rane
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped mb-0 align-middle">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">nome comune</th>
                                <th scope="col">nome scientifico</th>
                                <th scope="col">colore</th>
                                <th scope="col">peso medio(g)</th>
                                <th scope="col">tossicità</th>
                                <th scope="col">stato di conservazione</th>

                                <!-- bottoni -->
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="frog : ${frogs}" th:object="${frog}">
                                <th scope="row" th:text="*{id}"></th>
                                <td th:text="*{commonName}"></td>
                                <td th:text="*{scientificName}"></td>
                                <td th:text="*{color}"></td>
                                <td th:text="*{averageWeight}"></td>
                                <td th:text="*{toxicity} ? 'Tossica' : 'Non tossica'"></td>
                                <td th:text="*{conservationStatus}"></td>

                                <!-- bottoni -->
                                <td><a th:href="@{/frogs/} + ${frog.id}" class="btn btn-sm btn-success">dettagli</a></td>
                                <td><a th:href="@{#}" class="btn btn-sm btn-warning">modifica</a></td>
                                <td><a th:href="@{#}" class="btn btn-sm btn-danger">cancella</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <th:block th:replace="fragments/layout :: scripts" />
</body>

</html>