<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>GreenFrog - Backend Dettagli Stato di Conservazione</title>
    <th:block th:replace="fragments/layout :: styles" />
</head>

<body>
    <!-- Navbar -->
    <th:block th:replace="~{fragments/navbar :: navbar}" />

    <div class="container mt-4">

        <div class="d-flex justify-content-between align-items-start mb-3">
            <div>
                <h1 class="h3">Stato di conservazione</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-3">Tipo</dt>
                    <dd class="col-sm-9" th:text="${selectedConservationStatus.type}"></dd>

                    <dt class="col-sm-3">Descrizione</dt>
                    <dd class="col-sm-9" th:text="${selectedConservationStatus.description}"></dd>

                    <dt class="col-sm-3">Codice IUCN</dt>
                    <dd class="col-sm-9" th:text="${selectedConservationStatus.iucnCode}"></dd>

                    <dt class="col-sm-3">Livello di rischio</dt>
                    <dd class="col-sm-9">
                        <span th:text="${selectedConservationStatus.riskLevel}"></span>
                        <span class="text-muted">(0 = minimo rischio, 5 = massimo rischio)</span>
                    </dd>
                </dl>
                <hr>

                <h2 class="h3">Rane associate:</h2>
                <div class="fst-italic">

                    <span th:if="${#lists.isEmpty(selectedConservationStatus.frogs)}">Non è presente nessuna rana con
                        questo stato di conservazione</span>

                    <ul th:unless="${#lists.isEmpty(selectedConservationStatus.frogs)}">
                        <li th:each="frog, iter : ${selectedConservationStatus.frogs}" th:text="${frog}">
                        </li>
                    </ul>
                </div>

                <!-- pulsanti azioni -->
                <div class="d-flex gap-2 mt-3 justify-content-center">
                    <a th:href="@{/conservationStatuses/edit/} + ${selectedConservationStatus.id}"
                        class="btn btn-warning" sec:authorize="hasAuthority('ADMIN')">Modifica</a>

                    <!-- pulsante trigger modale -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        th:attr="data-bs-target='#deleteModal'" sec:authorize="hasAuthority('ADMIN')">Elimina</button>
                </div>

                <!-- modale -->
                <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteModalLabel">Elimina</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" th:text="|Eliminare '${selectedConservationStatus.type}'?|"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                                <form
                                    th:action="@{/conservationStatuses/delete/{id}(id=${selectedConservationStatus.id})}"
                                    method="post">
                                    <button class="btn btn-danger" type="submit">Elimina</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <th:block th:replace="fragments/layout :: scripts" />
</body>

</html>